%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|
  = r.attribute :id
  = r.attribute :key
  = r.attribute :content_type
  = r.attribute :content do
    = preview_of_dt resource