- has_jammit_js :question_editor, :pickup_editor

= form.inputs :name => "Mission Details" do
  
  = form.input :name
  
  = form.input :short_description, :input_html => {:rows => 3}, :hint => "Shown whilst the missing is not completed."
  
  = form.input :archived_short_description, :input_html => {:rows => 3}, :hint => "Shown once the missing is completed."

  - has_ckeditor
  ~ form.input :description, :input_html => {:rows => 5}, :wrapper_html => {:class => 'ckeditor'}, :hint => "Shown whilst the missing is not completed."
  ~ form.input :archived_description, :input_html => {:rows => 5}, :wrapper_html => {:class => 'ckeditor'}, :hint => "Shown once the missing is completed."
  
  = form.input :photoset_id, :hint => 'This should be the photoset id flickr gives you.'
  
  = form.input :occurs_at, :hint => "When is the event?", :as => :datetime_picker
  
  = form.input :organisation
  
  = form.input :state_event, :as => :select, :collection => form.object.state_events_for_select
  
  = form.input :captain_signup_open
  
  = form.input :sidekick_signup_open
  
= form.inputs :name => "Mission Ages" do
  - [:maximum_captain_age, :minimum_captain_age, :maximum_sidekick_age, :minimum_sidekick_age].each do |age|
    = form.input age, :as => :select, :collection => (1..100)
  
= form.inputs :name => "Mission Address" do
  = form.input :address_title
  = render_address_fields form
  
%h3 Available Pickups
%p.actions= link_to 'Add another pickup', '#', :class => 'add-pickup-link'
- form.object.mission_pickups.build
= form.fields_for :mission_pickups do |mpf|
  = render :partial => 'pickup_form', :object => mpf
  
  
%h3 Extra Questions for Mission
%p.actions= link_to 'Add another question', '#', :class => 'add-question-link'
- form.object.questions.build
= form.fields_for :questions do |qf|
  = render :partial => 'question_form', :object => qf
  
- extra_footer_content do
  :javascript
    BHM.Admin.QuestionEditor.template = #{render_new_question_form(form).to_str.to_json};
    BHM.Admin.PickupEditor.template   = #{render_new_pickup_form(form).to_str.to_json}
