- form.inputs :name => "Mission Details" do
  
  = form.input :name
  
  = form.input :description, :input_html => {:rows => 5}
  
  = form.input :occurs_at, :hint => "When is the event?"
  
  = form.input :user, :collection => User.for_select
  
  = form.input :organisation
  
  = form.input :state_event, :as => :select, :collection => form.object.state_events_for_select
  
- form.inputs :name => "Mission Address" do
  = render_address_fields form
  
- form.inputs :name => "Available Pickups" do
  
  = form.input :pickup_ids, :collection => Pickup.all, :as => :check_boxes, :label => "Pickups from"