%table
  %thead
    %tr
      - if show_name
        %th User
      - if show_role
        %th Role
      - if show_state
        %th Participation State
      %th &nbsp;
  %tbody
    - participations.each do |r|
      %tr{:class => cycle('odd', 'even')}
        - if show_name
          %td= link_to r.user.name, [:admin, r.user]
        - if show_role
          %td= vwd r.role_name.to_s.humanize
        - if show_state
          %td= r.state.to_s.humanize
        %td.actions
          %ul
            = ml("View", [:admin, r.mission, r])
            = ml("Edit", [:edit_admin, r.mission, r])
            = ml("Remove", [:admin, r.mission, r], :method => :delete, :confirm => tu(:remove, :scope => :confirm, :object_name => "Participation"))
    = empty_row_for_collection column_count