- pickup_form.inputs :name => "Pickup Details", :class => 'pickup-input inputs' do
  %li
    %p.inline-hints= link_to((pickup_form.object.new_record? ? "Don't add this pickup" : 'Remove this pickup'), '#', :class => 'remove-pickup-link')
    = pickup_form.hidden_field :_destroy, :default => 0
  = pickup_form.input :pickup
  = pickup_form.input :comment, :input_html => {:rows => 3}
  = pickup_form.input :pickup_at, :default_time => nil