#generate-mission-report
  %p#generate-report== #{link_to 'Click here', '#', :id => 'generate-report-button'} to generate a report of participations.
  .inner-report-generator
    %h3
      Generate Report
      = link_to '(hide)', '#', :id => 'hide-report-generator-button'
    - form_tag report_admin_mission_path(@mission, :format => 'csv'), :method => :get do
      #inner-report-wrapper
        #fields-for-mission-report.column
          %h4 Fields to show:
          %ul
            %li= report_field_checkbox :headers,             "Show CSV Headers"
            %li= report_field_checkbox :email,               "Show Users Email Address"
            %li= report_field_checkbox :first_name,          "Show First Name"
            %li= report_field_checkbox :last_name,           "Show Last Name"
            %li= report_field_checkbox :pickup,              "Show Pickup Choice"
            %li= report_field_checkbox :mailing_address,     "Show Mailing Address"
            %li= report_field_checkbox :phone,               "Show Phone Number"
            %li= report_field_checkbox :allergies,           "Show Allergies"
            %li= report_field_checkbox :role_name,           "Show Role Name (Captain / Sidekick)"
            %li= report_field_checkbox :state,               "Show Participation State"
            %li= report_field_checkbox :answers,             "Show Answers to Mission-specific questions"
            %li= report_field_checkbox :captain_application, "Show Captain Application"
        #filter-mission-report.column
          %h4 Filter results:
          %ul
            %li= report_field_select   :role,                "Show participations for:", ParticipationReporter::ROLE_CHOICES
            %li= report_field_select   :states,              "Show those that are:",     ParticipationReporter::STATE_CHOICES, :multiple => true
            %li= report_field_select   :pickups,             "Getting picked up from:",     ParticipationReporter.pickups_for(@mission), :multiple => true
        #submit-report-container.buttons= submit_tag "Generate Report", :name => nil