- has_jammit_js :mission_dashboard
- use_postcode_mapper
%h2.title Mission Dashboard

#mission-dashboard

  #mission-statistics

    .mission-statistic
      %span.count= @statistics.count :approved, :captains
      %span.description Approved Captains
    
    .mission-statistic
      %span.count= @statistics.count :approved, :sidekicks
      %span.description Approved Sidekicks
    
    .mission-statistic
      %span.count= @statistics.count :pending
      %span.description Pending Participations
    
    .mission-statistic
      %span.count= @statistics.count
      %span.description Total Participations

  = render :partial => 'postcode_map'
  = render :partial => 'report_form'
  
  #general-participations
    %ul
      = ml "Approved Participations", "#approved-participations"
      = ml "Pending Participations",  "#pending-participations"
      = ml "Sidekick Pickups",        "#sidekick-pickups"
    
    #approved-participations.collection-columns
      .collection.left
        %h4 Captains
        = participations_listing @statistics.approved_captains, :show_role => false, :show_state => false

      .collection.right
        %h4 Sidekicks
        = participations_listing @statistics.approved_sidekicks, :show_role => false, :show_state => false

    #pending-participations.collection
      = participations_listing @statistics.pending_participations
      
    #sidekick-pickups
      #pickups-map
      %ul#pickups
        - @statistics.pickups.each_pair do |mp, participations|
          %li
            %h4
              %span.pickup-name= mp.pickup.name
              at
              %span.pickup-at=l mp.pickup_at, :format => :pickup_time
            - if participations.empty?
              %p.empty This pickup currently has no sidekicks registered.
            - else
              %ul.participations
                - participations.each do |participation|
                  %li= link_to participation.user.name, [:admin, @mission, participation]