%h2.title Mission Dashboard

#mission-dashboard

  #mission-statistics

    .mission-statistic
      %span.count= @statistics.count :approved, :captains
      %span.description Approved Captains
    
    .mission-statistic
      %span.count= @statistics.count :approved, :sidekicks
      %span.description Approved Sidekicks
    
    .mission-statistic
      %span.count= @statistics.count :pending
      %span.description Pending Participations
    
    .mission-statistic
      %span.count= @statistics.count
      %span.description Total Participations

  #approved-participations.collection-columns
    %h3 Approved Participations

    .collection.left
      %h4 Captains
      = participations_listing @statistics.approved_captains, :show_role => false, :show_state => false

    .collection.right
      %h4 Sidekicks
      = participations_listing @statistics.approved_sidekicks, :show_role => false, :show_state => false

  .collection
    %h3 Pending Participations
    = participations_listing @statistics.pending_participations
    
  