- has_jammit_js :mission_dashboard
%h2.title Mission Dashboard

#mission-dashboard

  #mission-statistics

    .mission-statistic
      %span.count= @statistics.count :approved, :captains
      %span.description Approved Captains
    
    .mission-statistic
      %span.count= @statistics.count :approved, :sidekicks
      %span.description Approved Sidekicks
    
    .mission-statistic
      %span.count= @statistics.count :pending
      %span.description Pending Participations
    
    .mission-statistic
      %span.count= @statistics.count
      %span.description Total Participations



  #generate-mission-report
    %p#generate-report== #{link_to 'Click here', '#', :id => 'generate-report-button'} to generate a report of participations.
    .inner-report-generator
      %h3 Generate Report
      - form_tag report_admin_mission_path(@mission, :format => 'csv'), :method => :get do
        %ul
          %li
            %h4 Fields to show:
          %li= report_field_checkbox :headers,             "Show CSV Headers"
          %li= report_field_checkbox :mailing_address,     "Show Mailing Address"
          %li= report_field_checkbox :phone,               "Show Phone Number"
          %li= report_field_checkbox :role_name,           "Show Role Name (Captain / Sidekick)"
          %li= report_field_checkbox :state,               "Show Participation State"
          %li= report_field_checkbox :answers,             "Show Answers to Mission-specific questions"
          %li= report_field_checkbox :captain_application, "Show Captain Application"
          %li
            %h4 Filter results:
          %li= report_field_select   :role,                "Show participations for", ParticipationReporter::ROLE_CHOICES
          %li= report_field_select   :states,              "Show those that are",     ParticipationReporter::STATE_CHOICES, :multiple => true
        .buttons= submit_tag "Generate Report", :name => nil
  
  #general-participations
    %ul
      = ml "Approved Participations", "#approved-participations"
      = ml "Pending Participations",  "#pending-participations"
      = ml "Sidekick Pickups",        "#sidekick-pickups"
    
    #approved-participations.collection-columns
      .collection.left
        %h4 Captains
        = participations_listing @statistics.approved_captains, :show_role => false, :show_state => false

      .collection.right
        %h4 Sidekicks
        = participations_listing @statistics.approved_sidekicks, :show_role => false, :show_state => false

    #pending-participations.collection
      = participations_listing @statistics.pending_participations
      
    #sidekick-pickups
      #pickups-map
      %ul#pickups
        - @statistics.pickups.each_pair do |mp, participations|
          %li
            %h4
              %span.pickup-name= mp.pickup.name
              at
              %span.pickup-at=l mp.pickup_at, :format => :pickup_time
            - if participations.empty?
              %p.empty This pickup currently has no sidekicks registered.
            - else
              %ul.participations
                - participations.each do |participation|
                  %li= link_to participation.user.to_s, [:admin, @mission, participation]