%h2.title== Viewing all Missions

= will_paginate collection

%table
  %thead
    %tr
      %th Name
      %th State
      %th Organization
      %th &nbsp;
  %tbody
    - collection.each do |r|
      %tr{:class => cycle('odd', 'even')}
        %td= link_to r.name, [:admin, r]
        %td= r.state.to_s.humanize
        %td= link_to r.organisation, [:admin, r.organisation]
        %td.actions
          = individual_resource_links r do
            = ml "Dashboard", [:dashboard_admin, r]
    = empty_row_for_collection 5
        
= will_paginate collection