%h2.title== Viewing all Missions

= will_paginate collection

%table
  %thead
    %tr
      %th ID
      %th Name
      %th User
      %th Organization
      %th &nbsp;
  %tbody
    - collection.each do |r|
      %tr{:class => cycle('odd', 'even')}
        %td= r.id
        %td= r.name
        %td=vwd r.user.try(:to_s)
        %td= link_to r.organisation, [:admin, r.organisation]
        %td.actions= individual_resource_links r
    = empty_row_for_collection 4
        
= will_paginate collection