%h2.title== Viewing #{current_resource_name}

- show_for resource do |r|

  = r.attribute :id
  
  = r.attribute :name
  
  = r.attribute :description
  
  - r.association :organisation do
    = link_to resource.organisation, [:admin, resource.organisation]
  
  - r.association :user do
    - if resource.user.blank?
      = t :"show_for.blank"
    - else
      = link_to resource.user, [:admin, resource.user]