%h2.title== Viewing #{current_resource_name}

- show_for resource do |r|

  = r.attribute :id
  
  = r.attribute :name
  
  = r.attribute :description
  
  - r.association :organisation do
    = link_to resource.organisation, [:admin, resource.organisation]
  
  - r.association :user do
    - if resource.user.blank?
      = t :"show_for.blank"
    - else
      = link_to resource.user, [:admin, resource.user]
      
      
  - r.association :address do
    = draw_map_of resource.address, :class => "map-preview"
    
  - r.association :pickups do
    %ul.pickups#pickups-listing
      - if resource.pickups.empty?
        %li.empty No pickups defined.
      - else
        - resource.pickups.each do |pickup|
          %li= link_to_pickup pickup
    - if resource.pickups.present?
      #pickups-map.map-preview &nbsp;
      - use_gmaps_js
      - has_js "bhm/pickups"
      
        
