%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|
  
  = r.attribute :dashboard do
    = link_to 'Click here to view', [:dashboard_admin, @mission]
  
  = r.attribute :name

  = r.attribute :short_description
  
  = r.attribute :archived_short_description

  = r.attribute :description do
    .content-preview= resource.description_as_html
    
  = r.attribute :archived_description do
    .content-preview= resource.archived_description_as_html
  
  = r.attribute :state do
    = resource.state.to_s.humanize
  
  = r.association :organisation do
    = link_to resource.organisation, [:admin, resource.organisation]
    
  = r.attribute :captain_age do
    = pretty_age_range resource, :captain
    
  = r.attribute :sidekick_age do
    = pretty_age_range resource, :sidekick
  
  = r.association :participations do
    = link_to "View All Participations", admin_mission_mission_participations_path(resource)
      
  = r.association :address do
    %h3= resource.address_title
    = draw_map_of resource.address, :class => "map-preview"
    
  = r.association :pickups do
    %ol.pickups#pickups-listing
      - if resource.pickups.empty?
        %li.empty No pickups defined.
      - else
        - resource.mission_pickups.each do |mp|
          %li
            = link_to_pickup mp.pickup
            at
            = l mp.pickup_at, :format => :short
    - if resource.pickups.present?
      #pickups-map.map-preview.static-google-map= static_map_of_addresses resource.pickups.map(&:address)
      - use_gmaps_js
      - has_jammit_js :pickups
    
  = r.association :dynamic_templates do
    %ul
      - resource.dynamic_templates.each do |dt|
        %li= link_to "#{dt.key} (#{dt.content_type})", [:admin, resource, dt]
    %p= link_to 'View Template Index', admin_mission_dynamic_templates_path(resource)
    
  = r.label :questions
  %dd
    %ol
      - if resource.questions.empty?
        %li.empty There are no extra questions for this mission.
      - resource.questions.each do |question|
        %li
          == #{question.name} (#{question.question_type.humanize})
          - if question.multiple_choice?
            == - <strong>Choices:</strong> #{Array(question.metadata).to_sentence(:two_words_connector => " or ", :last_word_connector => " or ")}
    
      
      
        
