- use_postcode_mapper
%h2.title Dashboard

%p.action
  Drag link to your bookmark bar to make debugging easier:
  = link_to 'Show BHM Debug Info', 'javascript: BHM.Debug.showDebugInformation(); return false;'

#user-signups.google-chart.statistic
  %h3 User Signups By Date
  = image_tag user_stats_url, :title => "User signups by date", :id => 'user-signup-stats'
  
#user-ages.google-chart.statistic
  %h3 Users per Age
  = image_tag user_ages_url, :title => "Users per age", :id => 'user-ages-stats'
#user-origins.google-chart.statistic
  %h3 Users per Origin
  = image_tag user_origins_url, :title => "Users per origin", :id => 'user-origins-stats'
  - unless @other_origins.blank?
    %h4 Other Known Origins:
    %ul#user-origins-list
      - @other_origins.each do |name, count|
        %li
          %span.origin-count= pluralize count, "user"
          from
          %span.origin-name= name
#user-locations.google-map.statistic
  %h3 User Locations
  #user-locations-map.static-google-map= static_map_of_addresses @user_locations, :width => 680, :height => 400
  %ol#user-location-list
    - @user_locations.each do |location|
      %li{postcode_location_opts(location)}== Postcode #{location.postcode} has #{pluralize location.count, "members"}.
  

- content_for :sidebar do
  
  %h2 Menu
  - sidebar_menu do
    = render :partial => 'admin/shared/sections'