%h2.title== Viewing all #{current_resource_name.pluralize}

= will_paginate collection

%table
  %thead
    %tr
      %th ID
      %th Title
      %th Key
      %th &nbsp;
  %tbody
    - collection.each do |r|
      %tr{:class => cycle('odd', 'even')}
        %td= r.id
        %td= r.title
        %td= r.key
        %td.actions= individual_resource_links r
    = empty_row_for_collection 3
        
= will_paginate collection