- has_js 'bhm/signup'

- if flash[:profile_notice].present?
  %p#profile-notice= flash[:profile_notice]

= semantic_form_for @user do |form|
  
  = form.inputs :name => "About Yourself" do
    = form.input :full_name, :as => :first_and_last_name, :label => "Your Name"
    = form.input :display_name, :hint => "If set, other members will see this instead of your full name.", :label => "Your Display Name"
    = form.input :postcode, :hint => "Your postcode is used to help us improve transport & planning.", :label => "Your Postcode"
    = form.input :phone, :hint => "Only organizers will have access to your phone number for planning & safety reasons.", :label => "Your Phone Number"
    = form.input :date_of_birth, :start_year => (Time.now.year - 100), :end_year => (Time.now.year - 10), :label => "When were you born?", :required => false, :include_blank => false
    
  = form.inputs :name => "Your Account" do
    = form.input :email, :hint => "We promise you can trust us with your email."
    - if @user.using_password?
      = form.input :password, :as => :confirmed_password, :hint => "You only need to fill this in if you wish to change your password.", :input_html => {:placeholder => "Your New Password"}, :confirmation => {:placeholder => "Confirm Your New Password"}
  
  - if @user.needs_ml_subscriptions? || @user.origin.blank?
    = form.inputs :name => "And Finally Us" do
      - if @user.origin.blank?
        = form.input :origin, :as => input_type_for_origin(form.object.origin), :collection => User::ORIGIN_CHOICES,:required => false, :include_blank => false
      - if @user.needs_ml_subscriptions?
        = form.input :mailing_list_choices, :collection => User.available_mailing_list_choices, :as => :check_boxes, :label => "Mailing Lists"
    
  = form.buttons do
    = form.commit_button "Update Your Details"