- semantic_form_for @user do |form|
  
  = form.error_messages
  
  - form.inputs :name => "Your Account Details" do
    = form.input :login
    = form.input :email
    = form.input :password
    = form.input :password_confirmation
    
  - form.inputs :name => "Tell us about yourself" do
    = form.input :display_name, :hint => "This is what will typically be shown to other users on the site."
    = form.input :first_name
    = form.input :last_name
    = form.input :phone, :hint => "We respect your privacy - this number will never be given out or shared."
    - if form.object.new_record?
      = form.input :origin, :as => :select, :collection => User::ORIGIN_CHOICES
    
  - form.inputs :name => "Mailing List Subscriptions" do
    = form.input :mailing_list_ids, :collection => HominidWrapper.available_lists_for_select, :as => :check_boxes
    
  - form.buttons do
    = form.commit_button(@user.new_record? ? {:cancel => {:url => :new_user, :text => "Change Account Type", :id => "auth-selector-link"}} : {})