- has_js 'bhm/signup'

- if flash[:profile_notice].present?
  %p#profile-notice= flash[:profile_notice]

= semantic_form_for @user do |form|
  
  = form.inputs :name => "Your Account Details" do
    = form.input :login, :hint => "You'll use this to login when you visit the site.", :required => (@user.new_record? || @user.using_password?)
    = form.input :email, :hint => "We promise you can trust us with your email.", :required => true
    - if @user.new_record? || @user.using_password?
      = form.input :password, :required => @user.new_record?
      = form.input :password_confirmation
    
  = form.inputs :name => "Tell us about yourself" do
    = form.input :date_of_birth, :start_year => (Time.now.year - 100), :end_year => Time.now.year
    = form.input :display_name, :hint => "If set, other members will see this instead of your login."
    = form.input :first_name
    = form.input :last_name
    = form.input :postcode, :hint => "Your postcode is used to help us improve transport & planning."
    = form.input :phone, :hint => "Only organizers will have access to your phone number for planning & safety reasons."
    
    - if form.object.origin.blank? || form.object.origin_changed?
      = form.input :origin, :as => input_type_for_origin(form.object.origin), :collection => User::ORIGIN_CHOICES

  - if @user.new_record?
    = form.inputs :name => "Mailing List Subscriptions" do
      = form.input :mailing_list_ids, :collection => CampaignMonitorWrapper.for_select, :as => :check_boxes
    
  = form.buttons do
    = form.commit_button_with_cancel(@user.new_record? ? {:cancel => {:url => :new_user, :text => "Change Account Type", :id => "auth-selector-link"}} : {})