- has_js 'bhm/signup'

- if flash[:profile_notice].present?
  %p#profile-notice= flash[:profile_notice]

= semantic_form_for @user do |form|

  = form.inputs :name => "About Yourself" do
    = form.input :full_name, :as => :first_and_last_name, :label => "Your Name"
    = form.input :date_of_birth, :start_year => (Time.now.year - 100), :end_year => (Time.now.year - 10), :label => "When were you born?", :required => false, :include_blank => false
  
  = form.inputs :name => "Your Account" do
    = form.input :email, :label => "Email", :input_html => {:placeholder => "Your Email Address"}
    = form.input :password, :as => :confirmed_password, :input_html => {:placeholder => "Your Password"}, :confirmation => {:placeholder => "Confirm Your Password"}

  = form.inputs :name => "And Finally Us" do
    = form.input :volunteering_history, :as => :select, :collection => User.volunteering_history_options_scope.for_select, :required => false, :label => "In the last year, have you volunteered at all?", :include_blank => false
    = form.input :origin, :as => input_type_for_origin(form.object.origin), :collection => User::ORIGIN_CHOICES,  :required => false, :include_blank => false
    - if @user.needs_ml_subscriptions?
    = form.input :mailing_list_choices, :collection => User.available_mailing_list_choices, :as => :check_boxes, :label => "Mailing Lists"
    
  = form.buttons do
    = form.commit_button "Create My Account"