- on_new_page = controller.action_name == "new" && !params[:traditional]

- if flash[:joining_mission]
  %p#general-page-notice
    Before you join this mission you'll need a Big Help Mob account. Use the form below to create one or if you've already created
    == one before, #{link_to 'Click here', :sign_in} to sign in instead.
- else
  = content_section 'signup.introduction'

- if on_new_page
  - has_jammit_js :authentication_with_rpx_now
  %dl#authentication-choices
    %dt Sign up using...
    %dd.choice= rpxnow_link tu('authentication.external'), sign_in_url, :id => 'rpxnow-authentication-link'
    %dd.or or
    %dd.choice= link_to tu('authentication.internal'), new_user_path(:traditional => true), :id => 'traditional-authentication-link'
  
#authentication-with-standard-account{:style => ("display: none;" if on_new_page)}
  = render :partial => 'form'