- if logged_in? && @user == current_user
  %p
    Hey, this is your profile! 
    = link_to "Click here", edit_user_path(params[:id])
    to edit your details.

%dl#profile-details
  %dt Mission History:
  %dd
    %ul
      - if @participations.blank?
        %li.empty This user hasn't yet taken part / signed up to take part in any missions.
      - else
        - @participations.each do |participation|
          %li{:class => cycle('odd-mission', 'even-mission')}
            - if participation.completed?
              %span.mission-participation Took part in
            - elsif participation.approved?
              %span.mission-participation Signed up to take part as a
            %span.mission-role{:class => participation.role_name}
              = participation.role_name.humanize
            in
            %span.mission-name= participation.mission.name
            on
            %span.mission-when=l participation.mission.occurs_at, :format => :simple

- if can?(:edit, @user)
  %p.actions
    = rpx_identifiers_to_s @user
    = link_to "(Edit Profile)", edit_user_path(params[:id])
