= cs 'welcome'

%p#general-page-notice
  Thanks! You're now a member of the Big Help Mob website.
  Next, you'll likely want to check out one of the links below:

%h3 Get Started
%ul#getting-started
  - if !current_user.valid?
    %li= link_to 'Complete your Profile', edit_user_path(:current), :id => 'edit-your-profile-item'
    %li.or - or -
  - if Mission.has_next?
    %li= link_to 'Find out about / join our next mission', mission_path(:next), :id => 'next-mission-item'
  - else
    %li= link_to 'Find out about our past missions', missions_path, :id => 'next-mission-item'
  %li.or - or -
  %li= link_to 'View your profile', user_path(:current), :id => 'your-profile-item'
  %li.or - or -
  %li= link_to 'Contact the Big Help Mob team', :contact_us, :id => 'contact-us-item'
    