%p#supporters
  %span Supported by
  = sponsor_link "Volunteering WA", "http://www.volunteeringwa.org.au/"
  = sponsor_link "Veolia Transport", "http://www.veoliatransport.com.au/"

%p#social-media-hoohaa
  = social_media_link :twitter, "Follow us on Twitter", "http://twitter.com/BigHelpMob"
  or
  = social_media_link :facebook, "Visit us at Facebook", "http://www.facebook.com/pages/Big-Help-Mob/105401462828504"

%nav
  %ul
    = ml "Home", :root
    = ml "About", :about
    - if Mission.has_next?
      = ml "Next Mission", mission_path(:next)
      = ml "Choose your Role", join_mission_path(:next)
    = ml "Past Missions", missions_path
    = ml "Terms & Conditions", :terms_and_conditions
    = ml "Privacy Policy", :privacy_policy
    = ml "Contact Us", :contact_us
    
%p#copyright-statement
  == This site brought to you by #{link_to "Youth Tree", "http://www.youthtree.org.au/"}, &copy; #{copyright 2010}. All Rights Reserved.
  %br
  == Web servers graciously provided by #{link_to "ZettaGrid", "https://zettagrid.com/"}.
  
