%p#sponsors
  %span Sponsored by:
  = sponsor_link "Volunteering WA", "http://www.volunteeringwa.org.au/"
  = sponsor_link "Veolia Transport", "http://www.veoliatransport.com.au/"

%p#social-media-hoohaa
= link_to image_tag("http://twitter-badges.s3.amazonaws.com/follow_me-b.png"), "http://twitter.com/YouthTree", :alt => "Follow us on twitter"

%nav
  %ul
    = ml "Home", :root
    = ml "About", :about
    = ml "Next Mission", mission_path(:next)
    = ml "Terms & Conditions", :terms_and_conditions
    = ml "Privacy Policy", :privacy_policy
    = ml "Contact Us", :contact_us
    
%p#copyright-statement== This site brought to you by #{link_to "Youth Tree", "http://www.youthtree.org.au/"}, &copy; #{copyright 2010}. All Rights Reserved.
  