%p#sponsors
  %span Sponsored by:
  = sponsor_link "Volunteering WA", "http://www.volunteeringwa.org.au/"
  = sponsor_link "Veolia Transport", "http://www.veoliatransport.com.au/"

%nav
  %ul
    = ml "Home", :root
    = ml "About", :about
    = ml "Next Mission", mission_path(:next)
    = ml "Terms & Conditions", :terms_and_conditions
    = ml "Privacy Policy", :privacy_policy
    = ml "Contact Us", '#'
    
%p#copyright-statement== This site brought to you by #{link_to "Youth Tree", "http://www.youthtree.org.au/"}, &copy; #{copyright 2010}. All Rights Reserved.
  