%h1= link_to "Big Help Mob", :root
- unless hide_title?
  %h2= page_title
%nav#header-menu
  %ul
    = ml "Home", :root
    = ml "About", :about
    - if Mission.has_next?
      = ml "Next Mission", mission_path(:next)
      = ml "Choose your Role", join_mission_path(:next)
      = ml "Missions", missions_path
    - else
      = ml "Our Past Missions", missions_path
    - if logged_in?
      = ml "Your Account", user_path(:current)
      = ml "Sign out", :sign_out
    - else
      = ml "Sign up", new_user_url(ssl_opts)
      = ml "Sign in", sign_in_url(ssl_opts)

#useful-project-logo= link_to "A Project of Useful Inc.", "http://www.useful.org.au/"

- if logged_in? && current_user.admin?
  = render :partial => 'shared/admin_nav'