%header
  %h1= link_to "Big Help Mob", :root
  #header-menu
    %ul
      = ml "Home", "#"
      = ml "About", "#"
      = ml "Event Info", "#"
      = ml "Signup", "#"
  #youthtree-project-logo= link_to "A Project of Youth Tree", "http://www.youthtree.org.au/"