%h2.title== Viewing all #{current_resource_name.pluralize}

= will_paginate collection

%table
  %thead
    %tr
      %th flickr id
      %th Image URL
      %th &nbsp;
  %tbody
    - collection.each do |r|
      %tr{:class => cycle('odd', 'even')}
        %td= link_to r.flickr_id, [:admin, r.mission, r]
        %td= image_tag r.to_url(:s)
        %td.actions
          %ul=ml "View", [:admin, r.mission, r]
    = empty_row_for_collection 2 

= will_paginate collection

- content_for :sidebar, render(:partial => 'sidebar')
