%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|
  = r.attribute :flickr_id
  = r.attribute :url do
    = link_to resource.to_url, resource.to_url
  = r.attribute :image do
    = link_to image_tag(resource.to_url(:s)), resource.to_url

- content_for :sidebar, render(:partial => 'sidebar')
