- has_ckeditor

= form.inputs :name => "Question Details" do
  
  = form.input :question, :input_html => {:rows => 3}
  
  = form.input :answer, :wrapper_html => {:class => 'ckeditor'}
  
= form.inputs :name => "Visibility" do

  = form.input :visible, :required => true
  
  = form.input :position
  
  = form.input :show_on_mission_page
  
  = form.input :show_on_sidekick_section
  
  = form.input :show_on_captain_section