%h2.title== Viewing #{current_resource_name}

- show_for resource do |r|
  = r.attribute :id
  
  = r.attribute :question
  
  - r.attribute :answer do
    .content-preview= resource.answer_as_html
  
  = r.attribute :visible
  
  = r.attribute :position