- user = participation.user
= show_for participation do |s|

  = s.attribute :user
  
  - if @report.show?(:mailing_address)
    %dt Mailing Address:
    %dd= user.mailing_address
    
  - if @report.show?(:phone)
    %dt Phone Number:
    %dd= user.phone
    
  - if @report.show?(:role)
    = s.attribute :role_name
    
  - if @report.show?(:state)
    = s.attribute :state
    
- if @report.show?(:answers)
  %h3 Answers to Questions
  %dl
    - participation.answers.each_question do |q, k|
      %dt= q.name
      %dd= participation.answers.read_attribute(k)

- if @report.show?(:captain_application) && participation.captain? && user.captain_application.present?
  %h3 Captain Application
  = show_for user.captain_application do |s|
    = s.attribute :reason_why
    = s.attribute :offers
    = s.attribute :has_first_aid_cert