- use_gmaps_js
- has_jammit_js :pickups
- has_share_this_js
- has_rpxnow
- has_rpx_meta_tag
- has_js 'bhm/mission', 'bhm/rpx_sharing'

- if logged_in?
  = render :partial => 'mission_actions'

- extra_head_content do
  %meta{:name => "title", :content => @mission.name}

- if logged_in? # && flash[:recently_joined_mission]
  #mission-notice
    %h2 Huzzah! You've successfully joined this mission.
    %p
      == Congratulations #{current_user.name} - you've successfully signed up to take
      == part in '#{@mission.name}' on #{l @mission.occurs_at, :format => :simple}.
    %p
      You should have received an email with information about the event and
      you can likely expect further contact about it in the near future. If you'd like to help recruit fellow
      heroes, why not share this missing with your friends on Facebook or Twitter?
    %p#share-container= share_link 'Tell my friends', 'Tell My Friends', "I just joined #{@mission.name} - You should too!"
    %p.hide-notice
      = link_to 'Click here to hide this message', @mission

%h2 About this Mission

- unless logged_in?
  = join_mission_link @mission

%p.share-this-container
  %strong Share this mission on
  == #{share_this_link 'facebook', :for => :facebook},
  = share_this_link 'twitter', :for => :twitter
  or
  == #{share_this_link 'another site'}.

#mission-description
  = @mission.description_as_html
  = join_or_leave_mission_link @mission

= faq @mission_questions

= join_or_leave_mission_link @mission

%section#mission-maps.columns-container
  #mission-location-map.column
    %h3 Where is the mission?
    = draw_map_of @mission.address, :map => {:width => 416, :height => 342}
    #mission-location-address
      %h4.mission-subtitle This mission takes place at:
      %h3.address-title= @mission.address_title
      %p.address-parts= @mission.address.to_s("<br />").html_safe
  #mission-pickups-map.column
    %h3 Where can I get picked up?
    #pickups-map.static-google-map= static_map_of_addresses @mission.mission_pickups.map { |mp| mp.pickup.address }, :width => 456, :height => 342
    %h4 Pickups available from:
    %ol#pickups-listing
      - @mission.mission_pickups.each do |mp|
        %li{pickup_data_options(mp)}
          %abbr{:title => mp.pickup.address.to_s, :class => "pickup-title"}= mp.pickup.name
          at
          %span.pickup-time= l mp.pickup_at, :format => :pickup_time
- if logged_in?
  = render :partial => 'mission_actions'

- extra_footer_content do
  :javascript
    $(document).ready(function() {
      $("#mission-notice .hide-notice a").click(function() {
        $("#mission-notice").slideUp("slow", function() { $(this).remove(); });
        return false;
      });
    });
