- use_gmaps_js
- has_share_this_js
- has_js 'bhm/mission'

- extra_head_content do
  %meta{:name => "title", :content => @mission.name}

%h2 Our Heroes' Back Story

%p.share-this-container
  %strong Did you know?
  You can share this mission on
  == #{share_this_link 'facebook', :for => :facebook},
  = share_this_link 'twitter', :for => :twitter
  or
  == #{share_this_link 'another site'}.

#mission-completed-map
  = draw_map_of @mission.address, :map => {:width => 850, :height => 300}
  %p#mission-location-address
    %strong This mission took place at
    %span.mission-address-title= @mission.address_title
    \-
    %span.mission-address-parts= @mission.address.to_s(",")

#mission-description= @mission.description_as_html

%h3 Super Hero Snapshots

#mission-photos
  - @mission.flickr_photos.each do |photo|
    = link_to image_tag(photo.to_url(:s)), photo.to_url

