- semantic_form_for @participation, :url => @mission, :method => :put do |form|
  
  %p.actions
    - ar = @participation.alternate_role
    You've chosen to sign up as a
    == #{@participation.role_name.titleize},
    = link_to 'Click here', edit_mission_with_role_path(@mission, :as => ar)
    == to become a #{ar.titleize} or #{link_to 'click here', @mission} to return to the mission details.
  
  - if %w(created awaiting_approval).include?(@participation.state)
    %p.review-role-details
      == If you can't remember what a #{@participation.role_name.humanize}
      actually does or never read it properly in the first place (totally excusable, you're a character of action),
      == get up to speed #{link_to 'here', [:join, @mission]}. We promise it will be a riveting read!

  - if @participation.answers.needed?
    - form.inputs :name => "General Questions" do
      - form.fields_for :answers, @participation.answers do |af|
        - af.object.each_question do |question, name|
          = af.input name, question.to_formtastic_options
        
  
  - form.fields_for :user do |uf|
    - form.inputs :name => "Your General Profile" do
      = uf.input :allergies, :input_html => {:rows => 5}, :label => "Are you allergic to anything and if so, what?", :hint => "Even Superman is allergic to Kryptonite - Letting us know your allergies helps us make sure missions run smoothly for everyone involved."
      
    - if @participation.role_name.captain?
      - uf.object.build_captain_application if uf.object.captain_application.blank?
      - uf.fields_for :captain_application do |caf|
        = render :partial => 'captain_application_form', :locals => {:form => caf, :user => uf.object}
      
  - form.inputs :name => "Where do you wish to be picked up from?" do
    %li
      #pickups-map.static-google-map= static_map_of_addresses @mission.pickups.map(&:address), :width => 600, :height => 300
      - use_gmaps_js
      - has_jammit_js :pickup_chooser
      #pickup-address
        %strong Pickup is from:
        %span
          - if @participation.pickup.present?
            = @participation.pickup.pickup.to_s
          - else
            Pickup address not yet chosen.
    = form.input :pickup, :collection => @mission.mission_pickups, :as => :pickups
    
      
  - form.inputs :name => "Your Mailing Address" do
    %li
      %p.inline-hints.full-width
        We need a mailing address so we can mail you out your top-secret mission documents
        in proper postage-stamp and letterbox fashion (the documents will self-destruct within
        three days of arriving in your letterbox so check it repetitively in the week leading up
        == to #{@mission.name})
    - form.fields_for :user do |uf|
      = render_address_fields uf, :mailing_address
  
  - form.buttons do
    = form.commit_button "Update Participation Details"