- has_jammit_js :mission_archive

#missions
  
  = content_section 'pages.missions.header', :class => 'column'

  - @missions.each do |mission|
    %div[mission]
      %h4.mission-name
        %span.mission-date= mission.occurs_at.strftime "%d %B, %Y"
        \-
        = link_to mission.name, mission
      - if mission.photoset_id?
        .mission-photos{"data-photoset-id" => mission.photoset_id}
      %p.mission-description
        = mission.completed? ? mission.archived_short_description : mission.short_description
        = link_to "View this mission &raquo;".html_safe, mission

  = content_section 'pages.missions.footer', :class => 'column'