- use_gmaps_js
- has_jammit_js :pickups

- if logged_in?
  = render :partial => 'mission_actions'

%h2 About this Mission

#mission-description
  = @mission.description_as_html
  = join_mission_link @mission

= faq @mission_questions

= join_mission_link @mission

%section#mission-maps.columns-container
  #mission-location-map.column
    %h3 Where is the mission?
    = draw_map_of @mission.address, :map => {:width => 416, :height => 342}
    %p#mission-location-address
      %strong This mission takes place at:
      %br/
      %span= @mission.address.to_s
  #mission-pickups-map.column
    %h3 Where can I get picked up?
    #pickups-map.static-google-map= static_map_of_addresses @mission.pickups.map(&:address), :width => 456, :height => 342
    %h4 Pickups available from:
    %ol#pickups-listing
      - @mission.mission_pickups.each do |mp|
        %li{pickup_data_options(mp)}
          %strong== #{mp.pickup.name}:
          = mp.pickup.address.to_s
          at
          %span.pickup-time= l mp.pickup_at, :format => :pickup_time

- if logged_in?
  = render :partial => 'mission_actions'
  