- use_gmaps_js
- has_jammit_js :pickups
- has_share_this_js
- has_js 'bhm/mission'

- if logged_in?
  = render :partial => 'mission_actions'
  
- content_for(:extra_head) do
  %meta{:name => "title", :content => @mission.name}
  %link{:rel => "image_src", :href => "http://#{request.host}/images/thumb-preview.jpg"}

- if logged_in? && flash[:recently_joined_mission]
  #mission-notice
    %h2 Huzzah! You've successfully joined this mission.
    %p
      == Congratulations #{current_user} - you've successfully signed up to take
      == part in '#{@mission.name}' on #{l @mission.occurs_at, :format => :simple}.
    %p
      You should have received an email with information about the event and
      you can likely expect further contact about it in the near future.
    %p.hide-notice
      = link_to 'Click here to hide this message', @mission

%h2 About this Mission

- unless logged_in?
  = join_mission_link @mission

%p.share-this-container
  %strong Share this mission on
  == #{share_this_link 'facebook', :for => :facebook},
  = share_this_link 'twitter', :for => :twitter
  or
  == #{share_this_link 'another site'}.

#mission-description
  = @mission.description_as_html
  = join_mission_link @mission

= faq @mission_questions

= join_mission_link @mission

%section#mission-maps.columns-container
  #mission-location-map.column
    %h3 Where is the mission?
    = draw_map_of @mission.address, :map => {:width => 416, :height => 342}
    #mission-location-address
      %h4.mission-subtitle This mission takes place at:
      %h3.address-title= @mission.address_title
      %p.address-parts= @mission.address.to_s("<br />").html_safe
  #mission-pickups-map.column
    %h3 Where can I get picked up?
    #pickups-map.static-google-map= static_map_of_addresses @mission.pickups.map(&:address), :width => 456, :height => 342
    %h4 Pickups available from:
    %ol#pickups-listing
      - @mission.mission_pickups.each do |mp|
        %li{pickup_data_options(mp)}
          %abbr{:title => mp.pickup.address.to_s, :class => "pickup-title"}= mp.pickup.name
          at
          %span.pickup-time= l mp.pickup_at, :format => :pickup_time

- if logged_in?
  = render :partial => 'mission_actions'
  
:javascript
  $(document).ready(function() {
    $("#mission-notice .hide-notice a").click(function() {
      $("#mission-notice").slideUp("slow", function() { $(this).remove(); });
      return false;
    });
  });