- use_gmaps_js
- has_jammit_js :pickups

%h2 About this Mission
= join_mission_link @mission
#mission-description
  = @mission.description_as_html
  = join_mission_link @mission

= faq @mission_questions

= join_mission_link @mission

%section#mission-maps.columns-container
  #mission-location-map.column
    %h3 Where is the mission?
    = draw_map_of @mission.address, :map => {:width => 416, :height => 342}
    %p#mission-location-address
      %strong This mission takes place at:
      %br/
      %span= @mission.address.to_s
  #mission-pickups-map.column
    %h3 Where can I get picked up?
    #pickups-map.static-google-map= static_map_of_addresses @mission.pickups.map(&:address), :width => 456, :height => 342
    %h4 Pickups available from:
    %ol#pickups-listing
      - @mission.pickups.each do |pickup|
        %li{pickup_data_options(pickup)}
          %strong== #{pickup.name}:
          = pickup.address.to_s

- if logged_in?
  %p.actions
    - if @mission.participating?(current_user)
      You've signed up to take part in this mission.
      - if @mission.participation_for(current_user).created?
        Unfortunately, you've not yet filled in all your details -
        == Please #{link_to 'do so now', [:edit, @mission]}.
      - else
        == If you want to edit your participation details, #{link_to 'click here', [:edit, @mission]}.
    - else
      Want to take part in this mission? You can join it
      == #{link_to "as a Captain or Sidekick", [:join, @mission]}!