%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|
  = r.attribute :id
  
  - if resource_class == Mission
    = r.association :user do
      = link_to resource.mission, [:admin, resource.mission]
  - else 
    = r.association :mission do
      = link_to resource.user, [:admin, resource.user]
  
  = r.attribute :role_name
  
  = r.association :pickup do
  
    - if r.pickup.present? && r.pickup.pickup.present?
      %p== User wishes to be picked up from #{r.pickup.name} (#{r.pickup.address_as_string}) at #{I18n.l(r.pickup.pickup_at, :format => :pickup_time)}.
    - else
      %p Pickup unknown.

%h3 User Information

= show_for resource.user do |r|

  = r.attribute :first_name

  = r.attribute :last_name

  = r.attribute :phone

  = r.attribute :email
  
  = r.attribute :allergies

%h3 Survey Answers

%dl
  - resource.answers.each_viewable_question do |question, key|
    %dt.question= question.name
    %dd.answer=   resource.answers.read_attribute(key)
    
- if resource.captain? && resource.user.captain_application.present?
  
  %h3 User's Captain Application

  = show_for resource.user.captain_application do |s|
  
    = s.attribute :reason_why

    = s.attribute :offers

    = s.attribute :has_first_aid_cert