= form.inputs :name => "General Details" do
  = form.input :admin
  = form.input :current_role_id, :collection => Role.for_select
  = form.input :comment, :hint => "This is a private, admin-only comment about this user", :input_html => {:rows => 5}
  
- form.fields_for :captain_application do |caf|
  = caf.inputs :name => "Captain Application" do
    = caf.input :accepted
  
  