%h2.title== Viewing all Users

%p
  Want to send out an email to users?
  = link_to 'Click here', :new_admin_email

= will_paginate collection

%table
  %thead
    %tr
      %th ID
      %th Login
      %th Display Name
      %th Age
      %th Admin?
      %th Default Role
      %th Last Used Site
      %th &nbsp;
  %tbody
    - collection.each do |r|
      %tr{:class => cycle('odd', 'even')}
        %td= r.id
        %td=vwd r.login
        %td=vwd r.display_name
        %td= r.age
        %td= r.admin? ? "Yes" : "No"
        %td=vwd r.current_role.to_s
        %td=l r.last_request_at, :format => :long
        %td.actions= individual_resource_links r
    = empty_row_for_collection 6
        
= will_paginate collection