%h2.title== Viewing all Users

= will_paginate collection

%table
  %thead
    %tr
      %th ID
      %th Display Name
      %th Admin?
      %th Last Used Site
      %th &nbsp;
  %tbody
    - collection.each do |r|
      %tr{:class => cycle('odd', 'even')}
        %td= r.id
        %td=vwd r.display_name
        %td= r.admin? ? "Yes" : "No"
        %td=l r.last_request_at, :format => :long
        %td.actions= individual_resource_links r
        
= will_paginate collection