%h2.title Viewing User

= show_for @user do |s|
  
  = s.attribute :login
  
  = s.attribute :display_name
  
  = s.attribute :first_name
  
  = s.attribute :last_name

  = s.attribute :allergies
  
  = s.attribute :date_of_birth
  
  = s.attribute :email
  
  = s.attribute :phone
  
  = s.attribute :postcode
  
  = s.association :current_role
  
  = s.attribute :previous_volunteer do
    = @user.volunteering_history.try(:name)
  
  = s.association :comment do
    = comment_as_html @user

  = s.association :participations do
    = link_to "View All Participations", admin_user_mission_participations_path(resource)

- if @user.captain_application.present?
  
  %h3 User's Captain Application

  = show_for @user.captain_application do |s|
  
    = s.attribute :reason_why

    = s.attribute :offers

    = s.attribute :has_first_aid_cert
    