- on_new_page = controller.action_name == "new" && !params[:traditional]

- if on_new_page
  - has_jammit_js :authentication_with_rpx_now
  %dl#authentication-choices
    %dt I signed up using a...
    %dd.choice= rpxnow_link tu('authentication.external'), sign_in_url, :id => 'rpxnow-authentication-link'
    %dd.or or
    %dd.choice= link_to tu('authentication.internal'), sign_in_path(:traditional => true), :id => 'traditional-authentication-link'
  
#authentication-with-standard-account{:style => ("display: none;" if on_new_page)}
  - semantic_form_for @user_session do |form|
  
    - form.inputs :name => "Your Account Details" do
      = form.input :login
      = form.input :password
  
    - form.buttons do
      = form.commit_button "Sign in", :cancel => {:url => :sign_in, :text => "Change Account Type", :id => "auth-selector-link"}