- on_new_page = controller.action_name == "new" && !params[:traditional]

- if on_new_page
  %p#general-page-notice
    If you've never visited the website before or created an account (using either of the options
    ==  below), You should instead #{link_to 'Click here', :new_user} to sign up instead.

  - has_jammit_js :authentication_with_rpx_now
  %dl#authentication-choices
    %dt I signed up using a...
    %dd.choice= rpxnow_link tu('authentication.external'), sign_in_url, :id => 'rpxnow-authentication-link'
    %dd.or or
    %dd.choice= link_to tu('authentication.internal'), sign_in_path(:traditional => true), :id => 'traditional-authentication-link'
  
#authentication-with-standard-account{:style => ("display: none;" if on_new_page)}
  = semantic_form_for @user_session, :url => :sign_in do |form|
  
    = form.inputs :name => "Your Account Details" do
      = form.input :login
      = form.input :password, :hint => "Forgotten your password? #{link_to 'Click here', :new_password_reset} to reset it.".html_safe
  
    = form.buttons do
      = form.commit_button_with_cancel "Sign in", :cancel => {:url => :sign_in, :text => "Change Account Type", :id => "auth-selector-link"}