#header-logo
  %h1 BHM Admin Area

#header-menu
  %ul
    = ml "Home", :admin_dashboard
    = ml "Users", :admin_users
    = ml "Missions", :admin_missions
    = ml "Organisations", :admin_organisations
    = ml "Pickups", :admin_pickups