!!! 5
%html{:lang => "en", :dir => "ltr"}
  %head
    %title== #{page_title} - Big Help Mob
    = include_stylesheets(:base, :media => 'screen, projection')
    /[if IE]
      %script{:src => uri2ssl("html5shiv.googlecode.com/svn/trunk/html5.js")}
    = csrf_meta_tag
    %link{:rel => "image_src", :href => "http://#{request.host}/images/thumb-preview.jpg"}
    = extra_head_content
  %body
    = flash_messages :alert, :notice
    #container
      %header= render :partial => 'shared/header'
      %article#content= yield
      %footer= render :partial => 'shared/footer'
  
    = include_javascripts(:base)
    /[if IE 6]
      = include_javascripts(:ie6)
    = extra_footer_content
    - unless on_error_page?
      = analytics_code
      = uuid_marker_comment