!!! 5
%html{:lang => "en", :dir => "ltr"}
  %head
    %title== #{page_title} - Big Help Mob
    = include_stylesheets :base, :media => 'screen, projection'
    /[if IE]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    = include_javascripts :base
    = csrf_meta_tag
    = yield :extra_head
  %body
    = flash_messages :alert, :notice
    #container
      %header= render :partial => 'shared/header'
      
      %article#content= yield
    
      %footer= render :partial => 'shared/footer'
      
      = yield :page_bottom
