!!! 5
%html{:lang => "en", :dir => "ltr"}
  %head
    %title== #{page_title} - Big Help Mob
    = include_stylesheets(:base, :media => 'screen, projection')
    /[if IE]
      %script{:src => uri2ssl("html5shiv.googlecode.com/svn/trunk/html5.js")}
    = include_javascripts(:base)
    /[if IE 6]
      = include_javascripts(:ie6)
    = csrf_meta_tag
    %link{:rel => "image_src", :href => "http://#{request.host}/images/thumb-preview.jpg"}
    = yield :extra_head
  %body
    = flash_messages :alert, :notice
    #container
      %header= render :partial => 'shared/header'
      
      %article#content= yield
    
      %footer= render :partial => 'shared/footer'
      = yield :page_bottom
  
    - unless on_error_page?
      = google_analytics
      = uuid_marker_comment